@media only screen and (max-width: 991.98px) {

}

@media only screen and (max-width: 767.98px) {

}
@media only screen and (max-width: 576.98px) {

}

@media only screen and (max-width: 480px) {
    .save-balance-form-row{
        flex-direction: column;
    }
    .save-balance-form .save-balance-form-row>*{
        margin: 7px 0;
        display: inline-block;
    }
}